{% extends 'base.html' %}


{% block content %}
<div class="container">
 
    <div class="row my-5">
        <form action = "/pages/register/" method = "post"> 
        <div class="mb-3">
          <label>Username</label>
          <input  type="text" required class="form-control" name="username" value="" placeholder="username">
        </div>
        <div class="mb-3">
          <label>Email</label>
          <input  type="text" required placeholder="Your email" name="email" value="" class="form-control">
        </div>
        <div class="mb-3">
          <label>Password</label>
          <input type="password" required placeholder="Choose a secure password" value="" name="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</div>
  
{% endblock content %}