{% extends "base.html" %}

{% block head %}
<script>
    const searchForOperation = () => {
        const searchInputValue = document.getElementById("operation_search").value;
        window.location.href = `/pages/search/${searchInputValue}`;
    }
</script>
{% endblock %}

{% block content %}
<div class="container">
 
    <div class="row my-5">
        <form action = "/pages/register" method = "GET"> 
        <div class="mb-3">
          <label>Username</label>
          <input id = "pass" type="text" required class="form-control" name="username" value="" placeholder="username">
        </div>
        <div class="mb-3">
          <label>Email</label>
          <input id = "mail" type="text" required placeholder="Your email" name="email" value="" class="form-control">
        </div>
        <div class="mb-3">
          <label>Password</label>
          <input type="password" required placeholder="Choose a secure password" value="" name="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</div>
<style>
ul {
    list-style-type: none;
}
</style>    
{% endblock content %}